html {
	background: #282828;
	color: #fbf1c7;
	font-size: 12pt;
	font-family: monospace;
}

::selection {
	color: #282828;
	background-color: #fabd2f;
}

body {
	line-height: 1.4;
}

h1, h2, h3 {
	line-height: 1.2;
}

a {
	color: #83a598;
}

a:visited {
	color: #458588;
}

a:hover {
	text-decoration: none;
}

a:active {
	background: #ebdbb2;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.2rem;
}

div {
	max-width: 900px;
	margin: 0 auto;
}

code, pre {
	color: #ebdbb2;
	background: #1d2021;
	outline: 1px solid #504945;
}

pre code {
	outline: none;
}

pre {
	overflow: auto;
}

pre:focus, code:hover {
	outline: 2px solid #8ec07c;
}

nav {
	text-align: center;
	font-size: 1.2rem;
}

nav#TableOfContents {
	text-align: left;
	font-size: .9rem;
	margin-bottom: 2rem;
}

footer {
	margin-top: 2rem;
	text-align: center;
	font-size: .8rem;
}
